/* format the table and cells */
table, th, td {
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
  padding: 8px;
  border-collapse: collapse;
  text-align: center;
}

/* set colors of alternating rows */
tr:nth-child(even) {
  background-color: #FCF5E5;
}
tr:nth-child(odd) {
  background-color: #FFFFFF;
}

/* set width and height of cells*/
.base-table {
    width: 90%;
    margin: 0 auto; 
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}


/* highlight rows on mouseover */
tr.highlighted-row {
    background-color: #FFD700; 
}
tr:nth-child(even):not(.highlighted-row) {
    background-color: #CED9E5;
}
tr:nth-child(odd):not(.highlighted-row) {
    background-color: #FFFFFF;
}