table, th, td {
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
  padding: 8px;
  border-collapse: collapse;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #FCF5E5;
}
tr:nth-child(odd) {
  background-color: #FFFFFF;
}

.base-table {
    width: 90%;
    margin: 0 auto; 
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

tr.highlighted-row {
    background-color: #FFD700; /* Customize with your desired highlight style */
}

tr:nth-child(even):not(.highlighted-row) {
    background-color: #CED9E5;
}

tr:nth-child(odd):not(.highlighted-row) {
    background-color: #FFFFFF;
}